<form (ngSubmit)="onSubmit()">
  <section class="input-group">
    <p>
      <label for="initial-investment">Initial investment</label>
      <input id="initial-investment" name="initial-investment" type="number" [(ngModel)]="initInvestment"/>
    </p>
    <p>
      <label for="anual-investment">Anual investment</label>
      <input id="anual-investment" name="anual-investment" type="number" [(ngModel)]="anualInvestment"/>
    </p>
  </section>
  <section class="input-group">
    <p>
      <label for="expected-return">Expected return</label>
      <input id="expected-return" name="expected-return" type="number" [(ngModel)]="expectedReturn"/>
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" name="duration" type="number" [(ngModel)]="duration"/>
    </p>
  </section>
  <p>
    <button>Calculate</button>
  </p>
</form>