<form>
  <section class="input-group">
    <p>
      <label for="initial-investment">Initial investment</label>
      <input id="initial-investment" type="number"/>
    </p>
    <p>
      <label for="anual-investment">Anual investment</label>
      <input id="anual-investment" type="number"/>
    </p>
  </section>
  <section class="input-group">
    <p>
      <label for="expected-return">Expected return</label>
      <input id="expected-return" type="number"/>
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" type="number"/>
    </p>
  </section>
  <p>
    <button>Calculate</button>
  </p>
</form>